body {
  background-color: #ddd
}

#notepad {
  background-color: white;
  font-size: 20px;
}

.topnav {
  background-color: #ddd;
  overflow: hidden;
}

#myTopnav {
  height: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #477286;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #477286;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

#reklam {
  width: 200px;
  height: auto;
}

#reklam2 {
  width: 335px;
  height: auto;
  margin-left: -95px;
}

#reklam3 {
  width: 150px;
  height: auto;
  display: none;
}
#vaxel2 {
  width: 280px;
  height: auto;
}
 #broms2 {
  width: 280px;
  height: auto;
}
#notepad {
  text-align: center;
  border: 3px solid #477286;
}

#mekaniker {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#search {
  margin: 1em;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width:600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #myTopnav {
    height: 200px;
  }

  #reklam {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #reklam2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  #reklam3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
#vaxel2 {
  width: 80%;
  height: auto;
 }
  #broms2 {
  width: 80%;
  height: auto;
}

  #search {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#myBtn {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #477286;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 16px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: black;
  /* Add a dark-grey background on hover */
}



.cnt223 {
  min-width: 600px;
  width: 600px;
  min-height: 150px;
  background: #f3f3f3;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
}

.cnt223 p {
  clear: both;
  /* text-align: justify; */
  font-size: 20px;
  font-family: sans-serif;
}

.close:hover {
  cursor: pointer;
  background-color: #477286;
}

.close {
  float: right;
  height: 19px;
  right: 50px;
  position: relative;
  top: -25px;
  width: 40px;
  font-weight: bold;
  clear: both;
  box-shadow: 0 2px 5px #000;
  border-radius: 5px;
}

.winter-is-coming, .snow {
  z-index: 100;
  pointer-events: none;
}

.snow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: falling linear infinite both;
  transform: translate3D(0, -100%, 0);
}

.snow--near {
  animation-duration: 10s;
  background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png');
  background-size: contain;
}

.snow--near+.snow--alt {
  animation-delay: 5s;
}

.snow--mid {
  animation-duration: 20s;
  background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png');
  background-size: contain;
}

.snow--mid+.snow--alt {
  animation-delay: 10s;
}

.snow--far {
  animation-duration: 30s;
  background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png');
  background-size: contain;
}

.snow--far+.snow--alt {
  animation-delay: 15s;
}

@keyframes falling {
  0% {
    transform: translate3D(-7.5%, -100%, 0);
  }

  100% {
    transform: translate3D(7.5%, 100%, 0);
  }
}
